name: Build and Push Binaries

on:
  push:
    branches-ignore:
      - master
      - main

jobs:
  build:
    name: Build and Push Binaries
    runs-on: macos-15-xlarge
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Select Xcode
        shell: bash
        run: sudo xcode-select -s /Applications/Xcode_26.2.app

      - name: Build binaries
        run: |
          chmod +x build_all.sh
          ./build_all.sh

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Add and commit binaries
        if: github.event.head_commit.author.name != 'GitHub Actions Bot'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git add -u bin/
          git commit -m "Update binaries (CI job)"
          git push 